<h1>Stupid Coaching</h1>

<h2><%= @answer %></h2>

<div class=links>
    <%= link_to "Back to Homepage", root_path, class:"btn" %>
</div>

<div class=links>
    <%= link_to "Ask a new question", ask_path, class:"btn" %>
</div>
