<h1>Questions?</h1>

<form action="/answer" data-turbo="false">
  <fieldset>
    <legend>Send your coach a question:</legend>
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </fieldset>
</form>
